<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Article</title>
</head>
<body>
    <h3>게시물 작성</h3>
    <form th:action="@{/article/create}" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <table>
            <tr>
                <td>Title:</td>
                <td>
                    <label>
                        <input th:type="text" th:name="articleTitle"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Content:</td>
                <td>
                    <label>
                        <input th:type="text" th:name="articleContent"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td><button th:type="submit">Create Article</button></td>
            </tr>
        </table>
    </form>
</body>
</html>